* {
    padding: 0;
    margin: 0; 
}
body {
    background-color: azure;
    font-size: 1.2rem;
}
.App {
    padding-bottom: 1rem;
}

.row {
    padding: 0.5em 0;
}

.StaffInfo {
    margin-top: 2em;
}

.listStaff div {
    padding: 0.5em;
}